/* required, do not remove */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* tags */

/* global html attributes */
html::selection {
    background: rgba(252 231 243, .5);
}

p {
    @apply text-xl text-gray-600;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

a {
    @apply text-pink-400 underline font-semibold;
}

input {
    @apply m-5;
}

input[type="text"], input[type="username"], input[type="password"], input[type="email"], select {
    @apply text-xl outline-none rounded-md border-4 border-pink-200  h-12 p-4 text-gray-600 transition-all duration-300;
}
input[type='date'] {
    @apply outline-none rounded-md border-4 border-pink-200 w-auto px-2 text-gray-600 transition-all duration-300;
}
input[type='number'] {
    @apply text-xl outline-none rounded-md border-4 border-pink-200 px-2 text-gray-600 transition-all duration-300;
}
input[type='number']:focus, input[type='date']:focus, input[type="text"]:focus, input[type="username"]:focus, input[type="password"]:focus, input[type="email"]:focus {
    @apply text-xl outline-none rounded-md border-4 border-pink-300 text-gray-600 shadow-md;
}



select {
    @apply bg-white m-5 p-0 pl-4;
}

option {
    @apply rounded-md;
}

button {
    @apply m-5;
}


/* classes */
.add-button {
    @apply outline-none rounded-md bg-pink-400 font-extrabold box-border shadow-md select-none h-12 text-xl text-white transition-all duration-700;
}

.delete-button {
    @apply outline-none rounded-md bg-pink-600 font-extrabold box-border shadow-md select-none h-12 text-xl text-white transition-all duration-700;
}

.add-button:active {
    @apply bg-gradient-to-br from-pink-600 to-pink-500 text-gray-100 shadow-lg;
 }

 .delete-button:active {
    @apply bg-gradient-to-br from-pink-700 to-pink-800 text-gray-100 shadow-lg;
 }

 .add-button:disabled {
    @apply bg-pink-200 animate-pulse;
 }

 .top-button {
    @apply outline-none rounded-md bg-none font-extrabold box-border border-2 shadow-md select-none h-12 text-xl text-white transition-all duration-700;
 }

 .top-button:active {
    @apply bg-gradient-to-br from-gray-800 to-gray-900 text-gray-100 shadow-lg;
 }

.top-bar-offset {
    @apply h-24 w-full;
}

.non-submit-button {
    @apply outline-none border rounded-md bg-white font-extrabold box-border shadow-md select-none h-12 text-xl text-gray-600;
}

.non-submit-button:active {
    @apply bg-gradient-to-br from-gray-200 to-gray-100 text-gray-700 border-gray-300;
}

.input-col {
    @apply w-full;
    min-width:auto;
}

.badge {
    @apply text-xs font-light rounded-md bg-pink-500 box-border px-2 w-fit text-white;
}


.err-msg {
    @apply transition-all text-xl m-5 bg-pink-100 border-4 border-pink-500 h-12 p-4 flex items-center justify-center rounded-md text-pink-600 font-bold;
}

.sec {
    @apply w-96;
}

/* text */
.loading-text {
    @apply text-5xl text-gray-600 animate-pulse uppercase font-black;
}

.heading {
    @apply font-sans my-4 text-pink-500 font-bold;
}

/* cards */
.dash-card-default {
    @apply rounded-lg shadow-md w-1/3 box-border p-5 bg-white;
}

.api-crud-card {
    @apply rounded-lg shadow-md w-full max-w-full box-border p-16 bg-white;
}

.chart-card {
    @apply w-auto h-auto shadow-md rounded-lg px-16 py-3 m-2 box-border bg-white;
}

/* table view filter css */
.filter {
    @apply w-full h-auto box-border p-2 shadow-md bg-white text-lg flex flex-row items-center;
}
.filter-section {
    @apply mb-5
}
.filter-section .filter:only-child {
    @apply rounded-lg;
}
 .filter-section .filter:first-child {
    @apply rounded-t-lg;
}
.filter-section .filter:last-child {
    @apply rounded-b-lg;
}

.date-picker {
    @apply flex items-center justify-between w-full
}

/* vue transition animations */
/* intitial pop in slide */
.in-enter-active,
.in-leave-active
{
    transition: all .3s ease;
}

.in-enter-active,
.in-leave-active {
    transition: all .3s ease-out;

}

.in-enter-from,
.in-leave-to {
    transform: translateY(-10px);
    opacity:0;
}